<app-section-title [star]="sectionTitleStar.YELLOW" titleText="Опыт работы"></app-section-title>
<div class="duration">
    07.2022 – 08.2023 · Мюнхен · гибрид
</div>
<div class="company-name">
    remberg GmbH
</div>
<div class="position">
    Frontend-разработчик
</div>
<ul class="responsibilities">
    <li class="responsibility-item">Frontend-разработка XRM-платформы для управления оборудованием и сервисными процессами</li>
    <li class="responsibility-item">Разработка миграции со старого конструктора форм на новый</li>
    <li class="responsibility-item">Unit- и интеграционное тестирование</li>
    <li class="responsibility-item">Code review и рефакторинг</li>
    <li class="responsibility-item">Работа в Scrum-команде из 6 разработчиков</li>
</ul>

<div class="prof-divider"></div>

<div class="duration">
    10.2020 – 05.2022 · Москва · гибрид
</div>
<div class="company-name">
    Лаборатория Касперского
</div>
<div class="position">
    Frontend-разработчик
</div>
<ul class="responsibilities">
    <li class="responsibility-item">Разработка новых модулей B2B-системы кибербезопасности KICS for Networks.</li>
    <li class="responsibility-item">Разработка и покрытие unit-тестами нового функционала.</li>
    <li class="responsibility-item">Доработка существующей бизнес-логики.</li>
    <li class="responsibility-item">Плотная работа с Angular DI, формами, HTTP interceptors, guards и data resolvers.</li>
    <li class="responsibility-item">Реализация миграции с тестового фреймворка Jasmine на Jest.</li>
    <li class="responsibility-item">Участие в code review.</li>
    <li class="responsibility-item">Разработка функционала внутреннего проекта на React и последующее покрытие кода тестами. Проект реализован за 9 месяцев в команде из 3 web-разработчиков.</li>
    <li class="responsibility-item">Работа в Scrum-команде из 10 web-разработчиков.</li>
</ul>

<div class="prof-divider"></div>

<div class="duration">
    03.2019 – 10.2020 · Москва · гибрид
</div>
<div class="company-name">
    Эвотор
</div>
<div class="position">
    Frontend-разработчик
</div>
<ul class="responsibilities">
    <li class="responsibility-item">Разработка новых модулей магазина приложений и портала для разработчиков.</li>
    <li class="responsibility-item">Создание внутренних административных инструментов.</li>
    <li class="responsibility-item">Рефакторинг существующих модулей и оптимизация производительности приложения.</li>
    <li class="responsibility-item">Участие в развитии корпоративного UI-кита.</li>
    <li class="responsibility-item">Работа в Scrum-команде из 8 web-разработчиков; длительное время — единственный frontend-разработчик команды.</li>
</ul>

<div class="prof-divider"></div>

<div class="duration">
    03.2018 – 12.2018 · Москва · офис
</div>
<div class="company-name">
    ГорКапСтрой
</div>
<div class="position">
    Fullstack-разработчик
</div>
<ul class="responsibilities">
    <li class="responsibility-item">Разработка frontend- и backend-функционала внутренней ERP-системы для сотрудников: новая бизнес-логика, рефакторинг и тестирование.</li>
    <li class="responsibility-item">Активная работа с Angular формами.</li>
    <li class="responsibility-item">Перенос логики с AngularJS на новую версию Angular.</li>
    <li class="responsibility-item">Работа в команде из 5 web-разработчиков по методологии Scrum.</li>
</ul>

<div class="prof-divider"></div>

<div class="duration">
    04.2017 – 03.2018 · Москва · офис
</div>
<div class="company-name">
    Финолог
</div>
<div class="position">
    Fullstack-разработчик
</div>
<ul class="responsibilities">
    <li class="responsibility-item">Верстка промо-страниц.</li>
    <li class="responsibility-item">Создание внутренних инструментов на Vue.js.</li>
    <li class="responsibility-item">Разработка backend-функционала на PHP Laravel.</li>
</ul>
