<div class="contact">
    <div class="contact-icon">{{ contactIcon() }}</div>
    @switch (contactType()) {
        @case (contactTypeEnum.CLICK) {
            <a [href]="contact()">
                {{ contact() }}
            </a>
        }
        @case (contactTypeEnum.MAIL) {
            <a [href]="`mailto:${contact()}`">
                {{ contact() }}
            </a>
        }
        @default {
            <div>
                <div (click)="copy()">{{ contact() }}</div>
            </div>
        }
    }
</div>

