.section-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.section-title-star {
    margin-bottom: 4px;
}

.section-title-text {
    text-transform: uppercase;
    color: var(--color-gray);
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 2px;
}