<h2 class="section-title">
    <div class="section-title-star">
        @switch(star()) {
            @case(sectionTitleStar.YELLOW) {
                <img src="/My-Portfolio/yellow-star-14.svg" alt="yellow decorative star" />
            }
            @case(sectionTitleStar.BLUE) {
                <img src="/My-Portfolio/blue-star-14.svg" alt="blue decorative star" />
            }
            @case(sectionTitleStar.GREEN) {
                <img src="/My-Portfolio/green-star-14.svg" alt="green decorative star" />
            }
        }
    </div>
    <div class="section-title-text">{{ titleText() }}</div>
</h2>
