.photo-card {
    width: 210px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    overflow: hidden;
}

.photo-card-hat {
    height: 10px;
    background: var(--color-yellow);
}

.photo-card-img {
    display: block;
    height: 210px;
}

.photo-card-text {
    padding: 14px 16px 18px 16px;
    background: var(--color-card);
}

.photo-card-text-item {
    color: var(--color-gray);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.photo-card-text-item + .photo-card-text-item {
    margin-top: 3px;
}

.photo-card-text-name {
    color: var(--color-ink);
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}