.theme-toggle-btn {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;

    border-radius: 999px;
    border: 2px solid var(--color-muted);
    background: var(--color-card);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.10);
}


.theme-toggle-text {
    color: var(--color-ink);
}

.theme-toggle-dark {
    display: var(--toggle-dark-theme-btn-display);
}

.theme-toggle-light {
    display: var(--toggle-light-theme-btn-display);
}

