.decorative-img {
    position: fixed;
}

.decorative-image-yellow-star-20 {
    top: 213px;
    left: 126px;
}

.decorative-image-yellow-star-14 {
    right: 36px;
    top: 88px;
}

.decorative-image-yellow-star-10 {
    right: 50px;
    top: 210px;
}

.decorative-image-green-dot-9 {
    right: 92px;
    top: 66px;
}

.decorative-image-green-star-16 {
    right: 70px;
    top: 158px;
}

.decorative-image-blue-star-28 {
    right: 54px;
    top: 62px;
}

.divider {
    display: flex;
    padding-top: 44px;
    margin-top: 60px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-top: 1.5px solid var(--color-muted);
}

.header {

}

.header-name {
    width: 472px;
    height: 114px;
    border-radius: 0 0 0 110px;
    background: #FAC800;

    font-size: 146px;
    font-style: normal;
    font-weight: 800;
    color: #14100a;
}

.header-surname {
    font-size: 120px;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 24px;
}

.introduction {
    display: flex;
}

.introduction-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
}

.introduction-text {
  width: 60%;
}

.introduction-name {
    color: var(--color-ink);
}

