<div class="header">
    <img class="decorative-img decorative-image-yellow-star-20" src="/My-Portfolio/yellow-star-20.svg" alt="big yellow decorative star" />
    <img class="decorative-img decorative-image-yellow-star-14" src="/My-Portfolio/yellow-star-14.svg" alt="medium yellow decorative star" />
    <img class="decorative-img decorative-image-yellow-star-10" src="/My-Portfolio/yellow-star-10.svg" alt="small yellow decorative star" />
    <img class="decorative-img decorative-image-green-star-16" src="/My-Portfolio/green-star-16.svg" alt="green decorative star" />
    <img class="decorative-img decorative-image-blue-star-28" src="/My-Portfolio/blue-star-28.svg" alt="blue decorative star" />
    <img class="decorative-img decorative-image-green-dot-9" src="/My-Portfolio/green-dot-9.svg" alt="green decorative dot" />

    <h1>
        <span class="header-name">Елена</span>
        <br>
        <span class="header-surname">Мазырина</span>
    </h1>
    <app-theme-toggle class="theme-toggle"></app-theme-toggle>

    <app-pill-component pillText="Frontend Developer"></app-pill-component>
    <app-pill-component pillText="6 лет опыта" [pillColor]="pillColor.GREEN"></app-pill-component>
</div>