.decorative-img {
    position: absolute;
}

.decorative-image-yellow-star-20 {
    top: 193px;
    left: -1px;
}

.decorative-image-yellow-star-14 {
    right: -4px;
    top: 30px;
}

.decorative-image-yellow-star-10 {
    right: 8px;
    top: 155px;
}

.decorative-image-green-dot-9 {
    right: 45px;
    top: 4px;
}

.decorative-image-green-star-16 {
    right: 28px;
    top: 83px;
}

.decorative-image-blue-star-28 {
    right: 12px;
    top: 3px;
}

.divider {
    display: flex;
    padding-top: 44px;
    margin-top: 60px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-top: 1.5px solid var(--color-muted);
}

.header {
    position: relative;
}

.header-name {
    border-radius: 0 0 0 110px;
    background: var(--color-yellow);

    font-size: 143px;
    font-style: normal;
    font-weight: 800;
    color: var(--color-bg);
}

.header-surname {
    font-size: 120px;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 24px;
}

.header-name-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-title {
    color: var(--color-card);
    font-family: var(--font-body);;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 90% */
    letter-spacing: 0.256px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}


.introduction {
    display: flex;
    gap: 52px;
}

.introduction-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
}

.introduction-text {
  width: 60%;
  padding-right: 40px;
}

.introduction-name {
    color: var(--color-ink);
}

.contacts {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prof-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--prof-details-item-gap);
}

.prof-details-item {
    width: calc((100% - var(--prof-details-item-gap)) / 2);
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-name {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-ink);
    font-family: var(--font-display);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.footer-deco {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer-dot {
    width: 7px;
    height: 7px;
    border-radius: 4px;
}

.footer-dot-blue {
    background: var(--color-blue);
}

.footer-dot-yellow {
    background: var(--color-yellow);
}

.footer-dot-green {
    background: var(--color-teal);
}

.footer-contact {
    color: var(--color-gray);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}