<app-section-title [star]="sectionTitleStar.BLUE" titleText="Стек"></app-section-title>
<div class="stack-block">
    <app-outline-pill [pillColor]="pillColorEnum.GREEN">Angular</app-outline-pill>
    <app-outline-pill>TypeScript</app-outline-pill>
    <app-outline-pill [pillColor]="pillColorEnum.GREEN">JavaScript</app-outline-pill>
    <app-outline-pill>RxJS</app-outline-pill>
    <app-outline-pill [pillColor]="pillColorEnum.GREEN">NgRx</app-outline-pill>
    <app-outline-pill>HTML5</app-outline-pill>
    <app-outline-pill [pillColor]="pillColorEnum.GREEN">CSS3</app-outline-pill>
    <app-outline-pill>Sass/SCSS</app-outline-pill>
    <app-outline-pill [pillColor]="pillColorEnum.GREEN">Jest</app-outline-pill>
    <app-outline-pill>Jasmine</app-outline-pill>
    <app-outline-pill [pillColor]="pillColorEnum.GREEN">Git</app-outline-pill>
    <app-outline-pill>REST API</app-outline-pill>
    <app-outline-pill [pillColor]="pillColorEnum.GREEN">React</app-outline-pill>
</div>

